{% extends 'base.html' %}
{% load static %}

{%block content1 %}
<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h4>About MULTI LEVEL INTRUSION DETECTION AND LOG MANAGEMENT SYSTEM IN CLOUD COMPUTING</h4>
				<!-- Page Description -->
				<p> As Green IT has been issued, many companies have started to find ways todecrease
					IT cost and overcome economic recession. Cloud Computingservice is a new computing
					paradigm in which people only need to pay foruse of services without cost of purchasing
					physical hardware. For thisreason, Cloud Computing has been rapidly developed along with
					the trendof IT services. It is efficient and cost economical for consumers
					to usecomputing resources as much as they need or use services they want fromCloud Computing provider. </p>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->

<!--================================
=            Behind Story          =
=================================-->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title mb-0">
					<h2>Why we created Cloud Computing Platform</h2>
					<p>Cloud computing provides a superior alternative to traditional information technology,
						including these areas: Cost—eliminate capital expenses.
						Speed—instantly provision space for development and testing. Global scale—scale elastically..</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Behind Story  ====-->

<!--==================================
=            Create Story            =
===================================-->
<!--====  End of Create Story  ====-->



{%endblock%}